exportPattern("^[[:alpha:]]+")
exportMethods(
    "coerce<-",
    "coerce",
    "endTime",
    "SaveData",
    "SegmentationData",
    "segmenter",
    "startTime",
    "subjectID",
    "task",
    "textGridXMax",
    "textGridXMin",
    "timeUnit" 
)
exportClasses(
    "SegmentationData",
     "stringIsTable",
     "stringIsTextGrid" 
)
